.*.swp
.bazelversion
.classpath
.DS_Store
.eclipse/
.jj/
.project
.settings/
*.a
*.app
*.d
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so
*~
/.aswb/
/.cache/
/.classpath
/.clwb/
/.factorypath
/.idea/
/.ijwb/
/.project
/.sass-cache
/.settings
/.vscode/
/bazel-*
/bazel.iml
/output/
/production
compile_commands.json
eclipse-*bin/
user.bazelrc
